/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
   body {
     background-color: #FF3333;
     color: #FFFFFF;
   }
   
   
   .header {
     text-align: center;
   }
   
   .title {
     font-size: 5em;
   }
   
   
   .content {
     margin: 0 auto;
     width: 50%;
   }
   
   .question {
     display: block;
     width: 100%;
   }
   
   .venue {
     display: block;
     font-size: 3em;
     padding: 10px;
     width: 100%;
   }
   
   .footer {
     background-image: url('../img/poweredByFoursquare_white.png');
     background-position: center center;
     background-repeat: no-repeat;
     bottom: 0;
     height: 120px;
     position: absolute;
     width: 100%;
   }