/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
   body {
     background-color: #FF3333;
     color: #FFFFFF;
   }
   
   .container {
     margin: 0 auto;
     width: 960px;
   }
   
   .title {
     float: left;
     font-size: 5em;
   }
   
   .phonetic,
   .part-of-speech,
   .definition {
     clear: left;
     float: left;
   }
   
   .content {
     margin: 0 auto;
     width: 50%;
   }
   
   .question {
     display: block;
     width: 100%;
   }
   
   .venue {
     display: block;
     font-size: 3em;
     padding: 10px;
     width: 100%;
   }
   
   .footer {
     bottom: 0;
     height: 120px;
     left: 0;
     position: absolute;
     width: 100%;
   }
   
   .foursquare {
     background-image: url('../img/poweredByFoursquare_white.png');
     background-position: center center;
     background-repeat: no-repeat;
     display: block;
     height: 121px;
     margin: 0 auto;
     width: 482px;
   }